@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-vnd-orange: #F27D26;
  --color-vnd-dark: #1D1D1F;
}

@layer base {
  body {
    @apply font-sans antialiased text-vnd-dark bg-[#FDFCFB];
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
